/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  overflow-x: hidden;
}
.hero-section video {
  border-radius: 10px;
  width: 416px;
  height: 234px;
}
/* Preloader Styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Hide preloader after fade-out */
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Content Reveal Box Effect */
.content-container {
  opacity: 0;
  transform-origin: center;
  clip-path: inset(50% 50% 50% 50%);
  transition: clip-path 2s ease;
}
.nav-hero-sec {
  background-image: url("./asset/img/heroImg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section {
  height: 93vh;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 64px 60px;
  align-items: end;
}
.hero-section h2 {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 59px;
  color: white;
  max-width: 600px;
}

.hero-section-heading {
  padding-bottom: 100px;
  width: 500px;
}
.navebar {
  padding: 15px 15px;
  position: absolute;
}
nav {
  width: 98%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
  align-items: center;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.nav-change{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(45px);
}
.nav-change .hamburger div{
  background-color: black;
}
.black .hmbrgr-parent{
  background-color: transparent;

}
.black .hamburger .second-ch{
  display: block;

}
.hamburger .second-ch{
  display: none;

}

.nav-change .nav-button button{
  border-color: #000;
  color: black;
}
.nav-change .hamburger{
  border-color: #000;
}
.nav-change .logo,.nav-change .menu{
  color: #000;
}

.nav-change.black {
  background-color:transparent;
  backdrop-filter: blur(0px);
}
nav .menu {
  color: white;
}
.c-button_rail_inner {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  animation: railHorizontal 12s linear infinite; /* Adjusted duration for smoother effect */
}

.c-button_rail_wrap {
  height: 66px;
  position: absolute;
  top: 100px;
  background-color: #fa5c40;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  white-space: nowrap;
  overflow: hidden; /* Ensure content doesn't spill out */
}
.c-button_rail_wrap span {
  color: white;
}
.nav-button button:hover .c-button_rail_wrap {
  top: -43px;
  transition: top 0.5s ease-in-out; /* Smooth transition */
}

.nav-button button:hover {
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  transition: border 1s ease-in-out; /* Smooth transition */
}

.nav-button button .btn-placeholder {
  position: relative;
  top: 0; /* Ensure the initial top value is set */
  transition: top 0.5s ease-in-out; /* Apply transition to the initial state */
}

.nav-button button:hover .btn-placeholder {
  top: -40px;
}

@keyframes railHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Ensure it moves half the content width for continuous loop */
}

.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50px;
  
  position: relative;
  background: transparent;
  overflow: hidden;
  position: relative;
}
.hamburger .frst-ch{
  margin-top: 5px;
}
.black .hmbrgr-parent {
  display: none;
}
.hamburger div {
  height: 1px;
  width: 25px;
  background-color: white;
}
.logo {
  width: 200px;
  color: #fff;
}
.nav-button button {
  height: 50px;
  overflow: hidden;
  padding: 10px 10px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  width: 140px;
}
.video-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 74px;
  right: 70px;
  border-radius: 50%;
}
.video-btn :hover {
  background-color: #161010;
}
.hero-video {
  display: flex;
}
.menu span {
  color: #fff;
  font-weight: 600;
}
.main-heading {
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  padding: 20px 45px 100px 45px;
}
.vision-section,
.intro-section {
  background-color: rgb(244, 244, 244);
}
.symbol {
  margin-top: 190px;
  display: flex;
  justify-content: center;
}

section.image-unmask {
  height: 100vh;
  overflow: hidden;
}

#img {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: -1;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main-headings {
  text-align: center;
  font-weight: 500;
  font-size: 74px;
  line-height: 82px;
  margin-bottom: 20px;
}

.intro-section img {
  position: sticky;
  top: 0;
  width: 100vw;
}

.intro-video {
  width: 100vw;
}

.explore-section {
  margin: 21px 60px 10px 60px;
}
.explore {
  overflow: hidden;
  display: flex;
  margin-right: 10px;
  border-radius: 20px;
  height: 700px;
  width: 100%;
  background: url("./asset/img/invert.jpeg") no-repeat center center;
  transition: flex-grow 0.3s ease, transform 0.3s ease;
  transition: flex-grow 0.3s;
  align-items: end;
}

.reverse {
  overflow: hidden;
  display: flex;
  margin-left: 10px;
  border-radius: 20px;
  height: 700px;
  width: 100%;

  background: url("./asset/img/explore.jpeg") no-repeat center center;

  transition: flex-grow 0.9s;
  align-items: end;
}
.explore:hover {
  background: #29525e;
  flex-grow: 2;
}

.explore:hover .cnt {
  transform: translateY(0);
  transition: transform 0.9s ease;
}
.reverse:hover {
  background: #fa5c40;
  flex-grow: 2;
}
.reverse:hover .cnt {
  transform: translateY(0);
  transition: transform 0.9s ease;
}
.cnt h2 {
  font-size: 47px;
  color: white;
}
.cnt p {
  font-size: 27px;
  width: 300px;
  color: white;
}
.cnt {
  transition: transform 0.3s ease;
  transform: translateY(127px);
}
.incredible {
  padding: 20px 20px 20px 40px;
  background-color: white;
  margin: 60px 50px;
  border-radius: 20px;
  display: flex;
}
.incredible img {
  width: 100%;
  border-radius: 10px;
}
.incredible .row .col-lg-4 {
  padding-right: 100px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}
.incredible span,
.incredible p {
  font-size: 17px;
  font-weight: 600;
}
.incredible h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: unset;
}
.incredible button {
  color: black;
  width: 150px;
  background: transparent;
  border-radius: 15px;
  padding: 15px;
}
/* slider */

.splide__slide {
  overflow: hidden;
  transform: translateX(50px);
  margin-left: 20px;
  width: calc(25%) !important;
  height: 600px;
  width: 500px !important;
}

.splide__pagination__page {
  display: none;
}
.my-slider-progress {
  background: #ccc;
}
.my-carousel-progress-bar {
  height: 1px;
  background: #000;
  margin-bottom: 20px;
  transition: width 0.3s ease;
}
.splide__arrow {
  display: none;
}
.imgs {
  overflow: hidden;
  background-color: #161010;
  border-radius: 10px;
  height: 320px;
}
.splide__slide img {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.splide__slide:hover img {
  transform: scale(1.1); /* Scale image to 110% on hover */
}
.splide__slide .date {
  font-family: monospace;
  font-size: 17px;
  /* font-weight: 300; */
  margin-top: 20px;
}
.splide__slide .img-title {
  width: 80%;
  font-size: 20px;
  /* font-weight: 300; */
  margin-top: 20px;
  font-weight: 500;
}
.splide__slide:hover .img-title {
  color: #fa5c40;
}
.headin {
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.journal {
  font-size: 40px;
}
.artical {
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 8px;
}
footer {
  overflow: hidden;
  background-color: #e8e8e8;
  display: flex;
  height: 450px;
  margin: 25px 25px 10px 25px;
  border-radius: 10px;
}
.footer-left {
  flex: 3;
}
.footer-right {
  background-image: url("https://lightshiprv.com/assets/images/static/Pre_Order_Signup_thumbnail.jpg");
  background-size: contain;
  height: 100%;
  flex: 1;
  background-position-x: right;
  background-repeat: no-repeat;
}
.footer-left {
  display: flex;
  justify-content: space-between;
}
.footer-left ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
.footer-left ul li:first-child {
  margin-top: 30px;
  margin-bottom: 40px;
}

.email-addr {
  border-radius: 12px;
  height: 50px;
  background: #ffffff;
  width: 400px;
  margin-right: 100px;
  padding: 0 10px;
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.email-addr input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
}
.footer-last {
  margin-top: 100px;
}

.email-addr button {
  margin: 6px 0;
  padding: 5px 15px;
  border-radius: 10px;
  background: black;
  color: white;
}
.menu-colapsable {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: #e8e8e8;
  top: -100vh;
}
.colaps-video {
  /* position: absolute; */
  width: 50%;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 26px;
}
.menu-colapsable {
  position: fixed;
  padding: 20px;
  display: flex;
  align-items: center;
}
.menu-colapsable ul {
  font-weight: 600;
}

.menu-colapsable ul li {
  list-style: none;
}
.moving-menu ul li {
  font-weight: 400;
  height: 100px;
  font-size: 60px;
  overflow: hidden;
}
.moving-menu {
  width: 100%;
}
.moving-menu .c-button_rail_wrap {
  position: relative;
  top: 100px;
  width: 150%;
  right: 100px;
  border-radius: 10px;
  height: 90px;
  padding-bottom: 10px;
}
.moving-menu ul li:hover .c-button_rail_wrap {
  top: -85px;
}
.moving-menu ul li:hover {
  overflow: visible;
}
.moving-menu .c-button_rail_inner {
  animation: railHorizontal 5s linear infinite;
}
.moving-menu ul li:nth-child(2) .c-button_rail_wrap {
  background-color: #40522e;
}
.moving-menu ul li:nth-child(3) .c-button_rail_wrap {
  background-color: #c4a173;
}
.moving-menu ul li:nth-child(4) .c-button_rail_wrap {
  background-color: #29525e;
}
.moving-menu ul li:nth-child(5) .c-button_rail_wrap {
  background-color: #000;
}
.menu-colapsable img {
  /* height: 700px; */
  width: 75%;
  border-radius: 10px;
}
.menu-colaps-img {
  position: absolute;
  top: 30px;
  right: -65px;
  z-index: -1;
  width: 26%;
}
.colaps-row {
  margin-top: calc(8%) !important;
}
.colaps-menu-video {
  width: 50%;
  position: absolute;
  bottom: 0;
}

@media (min-width: 1915px) and (max-width: 1925px) {
  .offset-lg-1.col-lg-4.rowOffset {
    margin-left: calc(24%);
  }
  .moving-menu .c-button_rail_wrap {
    width: 130%;
  }
}
.hamburgerWhite {
  position: relative;
  background: transparent;
  overflow: hidden; /* Hide overflow for smooth transition */
}
.hamburgerWhite div {
  transition: background 0.5s ease;
  transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}
.hamburgerWhite:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: white;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  z-index: -1; /* Send the background behind the content */
}

.hamburgerWhite:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.hamburgerWhite:hover div {
  background: black;
}

.hamburgerBlack {
  position: relative;
  background: transparent;
  overflow: hidden; /* Hide overflow for smooth transition */
}
.hamburgerBlack div {
  transition: background 0.5s ease;
}
.hamburgerBlack:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: black;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  z-index: -1; /* Send the background behind the content */
}
.hamburgerBlack:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.hamburgerBlack:hover div {
  background: white;
}
.black .menu {
  color: black !important;
}
.black .logo {
  color: black !important;
}
.black .nav-button {
  visibility: hidden;
}
.black .hamburger {
  border-color: black;
}
.black .hamburger div {
  background-color: black;
}
.black .hamburger:hover div {
  background-color: white;
}
.hamburger .frst-ch {
  /* top: 10px; */
}
.hamburger .second-ch {
  /* top: 20px; */
}
.hamburgerBlack .frst-ch {
  transform: translateY(-2px) rotate(45deg);
}
.hamburgerBlack .second-ch {
  transform: translateY(-2px) rotate(-45deg);
}
.scrolled{
  background-color: green;
}


.caption-container{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 38%;
  z-index: 1;
  /* margin: auto; */
}

.caption-container .caption{
  font-size: 76px;
  color: white;
  opacity: 0;
}
.nav-change .hamburgerWhite:before {
  background: black;
}
.nav-change .hamburgerWhite:hover div {
  background: white;
}
.menu-hambrgr.gap-5.align-items-center.d-flex .menu {
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

.menu-hambrgr.gap-5.align-items-center.d-flex:hover .menu {
  transform: translateX(-20px);
}
.caption div{
  display: none;
}
.start-video{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
