/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f4f4f4;
}
.hero-section video {
  border-radius: 10px;
  width: 416px;
  height: 234px;
}
/* Preloader Styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Hide preloader after fade-out */
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Content Reveal Box Effect */
.content-container {
  opacity: 0;
  transform-origin: center;
  clip-path: inset(50% 50% 50% 50%);
  transition: clip-path 2s ease;
}
.nav-hero-sec {
  background-image: url("./asset/img/heroImg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section {
  height: 93vh;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 64px 60px;
  align-items: end;
}
.hero-section h2 {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 59px;
  color: white;
  max-width: 600px;
}

.hero-section-heading {
  padding-bottom: 100px;
  width: 500px;
}
nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
  align-items: center;
}
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50px;
  gap: 3px;
}
.hamburger div {
  height: 1px;
  width: 30px;
  background-color: white;
}
.logo {
  width: 200px;
  color: #fff;
}
.nav-button button {
  padding: 10px 10px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 600;
}
.video-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 74px;
  right: 70px;
  border-radius: 50%;
}
.video-btn :hover {
  background-color: #161010;
}
.hero-video {
  display: flex;
}
.menu span {
  color: #fff;
  font-weight: 600;
}
.main-heading {
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  padding: 20px 45px 100px 45px;
}
.vision-section,.intro-section{
  background-color: rgb(244, 244, 244);
}
.symbol {
  margin-top: 190px;
  display: flex;
  justify-content: center;
}

section.image-unmask {
  height: 100vh;
  overflow: hidden;
}

#img {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: -1;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}


.main-headings{
  text-align:center ;
 font-weight: 500;
 font-size: 74px;
 line-height: 82px;
 margin-bottom: 20px;
}
.intro-section{
  
}
.intro-section img{
  position: sticky;
  top: 0;
  width: 100vw;
}

.intro-video {
    width: 100vw;
}

.explore-section{
  margin:10px 60px;

}
.explore{
  overflow: hidden;
  display: flex;
  margin-right: 10px;
  border-radius: 20px;
  height: 700px;
  width: 100%;
  background: url('./asset/img/invert.jpeg') no-repeat center center;
  transition: flex-grow 0.3s ease, transform 0.3s ease;
  transition: flex-grow 0.3s;
  align-items: end;
}

.reverse{
  overflow: hidden;
  display: flex;
  margin-left: 10px;
  border-radius: 20px;
  height: 700px;
  width: 100%;
  
  background: url('./asset/img/explore.jpeg') no-repeat center center;
  transition: flex-grow 0.3s ease, transform 0.3s ease;
  transition: flex-grow 0.3s;
  align-items: end;
}
.explore:hover{
  background:#29525e;
  flex-grow: 2;

}


.explore:hover .cnt {
  transform: translateY(0); 
  transition: transform 0.3s ease;
}
.reverse:hover{

  background:#fa5c40;
    flex-grow: 2;
}
.reverse:hover .cnt{
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.cnt h2 {
  font-size: 47px;
  color: white;
}
.cnt p {
  font-size: 27px;
  width: 300px;
  color: white;
}
.cnt {
  transition: transform 0.3s ease;
  transform: translateY(127px);
}
.incredible{
  padding: 20px 20px 20px 40px;
  background-color: white;
  margin:60px 50px;
  border-radius: 20px;
  display: flex;
}
.incredible img{
  width: 100%;
  border-radius: 10px;
}
.incredible .row .col-lg-4{
  padding-right: 100px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}
.incredible span,.incredible p{
  font-size: 17px;
  font-weight: 600;
}
.incredible h2{
  font-size: 40px;
  font-weight: 600;
  text-align: unset;
}
.incredible button {
  color: black;
  width: 150px;
  background: transparent;
  border-radius: 15px;
  padding: 15px;
}
/* slider */

.splide__slide {
  overflow:hidden ;
  transform: translateX(50px);
  margin-left: 20px;
  width: calc(25%) !important;
  height: 600px;
  width: 500px !important;

}

.splide__pagination__page { display: none; }
.my-slider-progress { background: #ccc; }
.my-carousel-progress-bar {
  height: 1px;
  background:  #000;;
  margin-bottom: 20px;
  transition: width 0.3s ease;
}
.splide__arrow{
  display: none;
}
.imgs{
  overflow: hidden;
  background-color: #161010;
  border-radius: 10px;
  height: 320px;
 
}
.splide__slide img {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.splide__slide:hover img {
  transform: scale(1.1); /* Scale image to 110% on hover */
}
.splide__slide .date{
  font-family:monospace ;
  font-size: 17px;
  /* font-weight: 300; */
  margin-top: 20px;
}
.splide__slide .img-title{
  width: 80%;
  font-size: 20px;
  /* font-weight: 300; */
  margin-top: 20px;
  font-weight: 500;
}
.splide__slide:hover .img-title{
  color: #fa5c40;
}
.headin{
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.journal{
  font-size: 40px;
}
.artical{
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding:5px 10px;
  margin-top: 8px;
}
.lightsgio{
  padding: 100px;
}